.headerContainer {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.headerContainer img {
    margin-top: 40px;
    width: 50%;
    height: 100%;
}
.headerContainer h1 {
    color: var(--color);
    position: absolute;
    right: 60%;
    top: 30%;
    font-size: 3vw;
    padding-left: 10%;
    text-shadow: 0px 0px 5px rgba(208, 77, 58, 1),
    0 0 10px rgba(194, 63, 55, 1),
    0 0 15px rgba(255, 255, 255, 1),
    0 0 20px rgb(255, 139, 24),
    0 0 30px rgba(255, 139, 24, 1),
    0 0 40px rgba(255, 139, 24, 1),
    0 0 55px rgba(255, 139, 24, 1),
    0 0 75px rgba(255, 139, 24, 1),
    0 0 100px rgba(255, 139, 24, 1);
}
